.git
.gitignore
**/__pycache__
**/*.pyc
**/*.pyo
.pytest_cache
.venv
.env
*.env
POC_passages/
data_process/temp_data/
temp.sql
*.egg-info
README.md
data_process/temp_data
pred_stats/
temp.sql
temp.ipynb
temp1.py
temp2.py
temp3.py
bug_constation/
init_env_webrest.py
mini_main.py
to_del.py
init_env_webrest_centre.py
job_forepass/
.vscode/
bug/
dashboard_export_*
requete1.csv
requete2.csv
requete3.csv
requete4.csv
POC_embeding/
certification_simplon/